# This is Git's per-user configuration file.
[user]
	name = John Eley
	email = john@eley.dk
[core]
	editor = vim
	excludesfile = /Volumes/space5/.gitignore_global
	autocrlf = input
[color]
	ui = auto
[alias]
	aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
